{% extends "layouts/base.j2" %}

{% block content %}
  <div class="flex h-screen">
    <!-- Left Column -->
    <div class="hidden lg:block relative basis-2/4">
      <img class="absolute z-0 h-full object-cover"
           src="{{ url_for('static', filename='images/bb-romanian-deadlift.jpg') }}"
           alt="Barbell Romanian Deadlift" />
      <div class="absolute z-10 flex flex-col justify-center items-start h-full w-full pl-10 inset-0 bg-black/50">
        <h2 class="text-4xl md:text-5xl font-bold text-white mb-4 drop-shadow-lg">Push Your Limits.</h2>
        <p class="text-lg text-gray-200 max-w-md">
          Every small step adds up. Stay consistent, show up, and watch your journey transform.
        </p>
      </div>
    </div>

    <!-- Right Column -->
    <div class="flex flex-col justify-between grow basis-1/2 p-6">
      <a href="/" class="flex items-center gap-2 lg:gap-3 w-fit">
        <span class="w-7 h-7 lg:w-9 lg:h-9 bg-black rounded-lg flex items-center justify-center">
          <img class="w-4 h-4 lg:w-5 lg:h-5"
               alt="MyFitnessJourney Logo"
               src="{{ url_for('static', filename='images/logo.svg') }}" />
        </span>
        <p class="lg:text-xl font-semibold">MyFitnessJourney</p>
      </a>

      <div class="flex items-center justify-center flex-1">
        <div class="w-full max-w-md">
          {% block content_auth %}
          {% endblock content_auth %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
