<!DOCTYPE html>
<html lang="en">

  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>
        {% block title %}{% endblock %}
      </title>
      <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
      <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    {% endblock head %}
  </head>

  <body class="bg-gray-50">
    <header id="header">
      {% block header %}
      {% endblock header %}
    </header>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% include "layouts/footer.j2" %}
  </body>

</html>
