<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="keywords"
          content="fitness tracker, open source, workout tracker, fitness journal, exercise log, training planner, workout analytics" />
    <meta name="description"
          content="A free, open‑source fitness tracker to document workouts, visualize progress, and achieve goals — no cost, no limits." />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        | MyFitnessJourney
      {% endblock title %}
    </title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  </head>

  <body class="bg-gray-50 font-[Inter]">
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
