<aside
  class="sidebar fixed left-0 top-0 z-9999 flex h-screen w-[290px] pb-6 flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 duration-300 ease-linear lg:static lg:translate-x-0">

  <!-- SIDEBAR HEADER -->
  <div class="sidebar-header flex items-center gap-2 pb-7 pt-8">
    <div class="w-8 h-8 bg-gray-800 rounded-lg flex items-center justify-center" __v0_r="0,3121,3188">
      <img class="w-5 h-5" alt="MyFitnessJourney Logo" src="{{url_for('static', filename='images/logo.svg')}}" />
    </div>
    <h1 class="text-xl font-bold text-gray-900 ">MyFitnessJourney</h1>
  </div>

  <div class="no-scrollbar flex flex-col grow overflow-y-auto duration-300 ease-linear">

    <!-- Sidebar Menu -->
    <nav>
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          MENU
        </h3>

        <ul class="mb-6 flex flex-col gap-2">
          <li>
            <a class="relative flex items-center gap-3 rounded-lg px-3 py-2 text-gray-700 hover:bg-gray-100 text-sm font-bold"
              href="#">
              <img alt="Dashboard Icon" src="{{url_for('static', filename='images/icons/dashboard.svg')}}" />
              <span>Overview</span>
            </a>
          </li>
          <li>
            <a class="relative flex items-center gap-3 rounded-lg px-3 py-2 text-gray-700 hover:bg-gray-100 text-sm font-bold"
              href="#">
              <img alt="Workouts Icon" src="{{url_for('static', filename='images/icons/workouts.svg')}}" />
              <span>Workouts</span>
            </a>
          </li>
          <li>
            <a class="relative flex items-center gap-3 rounded-lg px-3 py-2 text-gray-700 hover:bg-gray-100 text-sm font-bold"
              href="#">
              <img alt="Body Weights Icon" src="{{url_for('static', filename='images/icons/body-weights.svg')}}" />
              <span>Body Weights</span>
            </a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          USER
        </h3>

        <ul class="mb-6 flex flex-col gap-2">
          <li>
            <a href="#"
              class="relative flex items-center gap-3 rounded-lg px-3 py-2 text-gray-700 hover:bg-gray-100 text-sm font-bold">
              <img alt="User Icon" src="{{url_for('static', filename='images/icons/user.svg')}}" />
              <span class="menu-item-text">
                Profile
              </span>
            </a>
          </li>

          <li>
            <a class="relative flex items-center gap-3 rounded-lg px-3 py-2 text-gray-700 hover:bg-gray-100 text-sm font-bold"
              href="#">
              <img alt="Preferences Icon" src="{{url_for('static', filename='images/icons/preferences.svg')}}" />
              <span>Preferences</span>
            </a>
          </li>

          <li>
            <a class="relative flex items-center gap-3 rounded-lg px-3 py-2 text-gray-700 hover:bg-gray-100 text-sm font-bold"
              href="#">
              <img alt="Logout Icon" src="{{url_for('static', filename='images/icons/logout.svg')}}" />
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          OTHER
        </h3>

        <ul class="mb-6 flex flex-col gap-2">
          <li>
            <a class="relative flex items-center gap-3 rounded-lg px-3 py-2 text-gray-700 hover:bg-gray-100 text-sm font-bold"
              href="https://github.com/peek4bUh/my-fitness-journey">
              <img alt="Code Icon" src="{{url_for('static', filename='images/icons/code.svg')}}" />
              <span>Source Code</span>
            </a>
          </li>
          <li>
            <a class="relative flex items-center gap-3 rounded-lg px-3 py-2 text-gray-700 hover:bg-gray-100 text-sm font-bold"
              href="#">
              <img alt="Info Icon" src="{{url_for('static', filename='images/icons/info.svg')}}" />
              <span>License</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <a href="#" class="bg-gray-100 rounded-lg px-4 py-3">
    <span class="text-sm block text-gray-700 font-bold">
      {{ user.username }}
    </span>
    <span class="text-xs mt-0.5 block text-gray-500">
      {{ user.email }}
    </span>
  </a>
</aside>