<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Dashboard | MyFitnessJourney</title>
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>

<body>

  <!-- Page Wrapper Start -->
  <div class="flex h-screen overflow-hidden">
    {% include './layouts/sidebar.html' %}

    <!-- Content Area Start -->
    <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto bg-gray-50">
      <div>I'm a div in the content area</div>
    </div>
    <!-- Content Area End -->

  </div>
  <!-- Page Wrapper End -->

</body>

</html>